* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Work Sans;
}

/*  banner section */
.banner {
  display: flex;
  background-image: url("images/banner/banner2.png");
  background-color: lightgray 50%;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  justify-content: flex-end;
}

.banner-text {
  margin: 150px 230px 150px 845px;
  text-align: right;
}

.banner-description {
  width: 500px;
  color: #444343;
  line-height: 26px;
  margin-top: 35px;
}

.banner-title {
  color: #151414;
  font-size: 65px;
  font-weight: 700;
}

.btn {
  color: #fff;

  font-family: Work Sans;
  font-size: 20px;
  padding: 20px 30px;
  border-radius: 5px;
  background: #f15b22;
  margin: 35px 0;
}

.failure-container {
  display: flex;
  width: 100vw;
  justify-content: space-between;
  align-items: center;
}

.failure-text {
  margin-right: 175px;
  margin-top: 150px;
}

.failure-title {
  font-size: 48px;
  font-weight: 700;
}

.failure-description {
  color: #444343;
  line-height: 26px;
  margin-top: 24px;
}

.check-list {
  list-style: none;
  margin-top: 20px;
}

.check-list svg {
  margin-right: 10px;
}

.check-list li {
  display: flex;
  align-items: center;
  line-height: 30px;
}

.failures {
  width: 40%;
}

.image {
  margin: 300px 845px 50px 100px;
  background-color: rgba(241, 91, 34, 0.2);
  width: 500px;
  height: 500px;
  border-radius: 500px;
  background-position: cover;
  position: relative;
}

.image img {
  width: 100%;
  position: absolute;
  bottom: 0px;
  right: -5px;
}
